.mini-wrapper {
    filter: grayscale(1);
    cursor: pointer;

    &__condition-text {
        font-size: 13px;
    }

    &__temp {
        font-size: 18px;
        font-weight: 500;
        color: #007bff;
    }

    &__date{
        font-weight: 500;
    }

    &:hover {
        filter: none;
    }
}