.forecast-wrapper {
    text-align: center;
    padding: 2rem;

    &__temperature {
        color: #007bff;
        font-size: 22px;
        font-weight: bold;
    }

    &__location-name {
        font-size: 32px;
        font-weight: 500;
    }

    &__condition-text {
        font-size: 16px;
    }

    &__wind {
        &__item {
            .icon {
                color: #007bff;
                font-size: 32px;
            }
        }
    }
}