.search-wrapper {
    display: flex;
    width: 90%;
    margin: 0 auto;

    &__input {
        width: 100%;
        border: 1px solid whitesmoke;
        padding: 10px;

        &:focus {
            border-color: #d9d9d9;
            outline: none;
        }
    }
}