.wrapper {
    background-image: url("assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__widget {
        &__body {
            background: #f6f6f6;
            width: 90%;
            margin: 0 auto;
        }
    }

    &__spinner {
        padding: 2rem;
        display: flex;
        justify-content: center;
    }
}